'fileTypes': [
	'jqtpl'
]
'name': 'JQTPL'
'foldingStartMarker': '(?x)\n\t\t(<(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|form|dl)\\b.*?>\n\t\t|<!--(?!.*-->)\n\t\t|\\{\\s*($|\\?>\\s*$|//|/\\*(.*\\*/\\s*$|(?!.*?\\*/)))\n\t\t)'
'foldingStopMarker': '(?x)\n\t\t(</(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|form|dl)>\n\t\t|^\\s*-->\n\t\t|(^|\\s)\\}\n\t\t)'
'patterns': [
	{
		'begin': '\\$\\{'
		'captures':
			'0':
				'name': 'punctuation.section.embedded.js'
		'end': '\\}'
		'name': 'source.js.embedded.html'
		'patterns': [
			{
				'include': 'source.js'
			}
		]
	}
	{
		'begin': '\\{\\{\\/(if|each)'
		'captures':
			'0':
				'name': 'punctuation.section.embedded.js'
		'end': '\\}\\}'
		'name': 'source.js.embedded.html'
		'patterns': [
			{
				'include': 'source.js'
			}
		]
	}
	{
		'begin': '\\{\\{\\s*(if|else|html|each)'
		'captures':
			'0':
				'name': 'punctuation.section.embedded.js'
		'end': '\\}\\}'
		'name': 'source.js.embedded.html'
		'patterns': [
			{
				'include': 'source.js'
			}
		]
	}
	{
		'begin': '\\{\\{\\s*each\\s*\\((\\w)(,\\s*(\\w))*\\)'
		'captures':
			'0':
				'name': 'punctuation.section.embedded.js'
		'end': '\\}\\}'
		'name': 'source.js.embedded.html'
		'patterns': [
			{
				'include': 'source.js'
			}
		]
	}
	{
		'begin': '\\{\\{\\!'
		'beginCaptures':
			'0':
				'name': 'punctuation.definition.comment.begin.embedded.js'
		'end': '\\}\\}'
		'endCaptures':
			'0':
				'name': 'punctuation.definition.comment.end.embedded.js'
		'name': 'comment.block.embedded.js'
	}
	{
		'include': 'text.html.basic'
	}
]
'scopeName': 'text.html.js'
